@import "../../responsiveMixins.scss";

.editEvent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 35px;
  .wrapper {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    @include xs {
      max-width: 260px;
    }
    @include sm {
      max-width: 320px;
    }
    @include smd {
      max-width: 480px;
    }
    @include md {
      max-width: 700px;
    }
    @include lg {
      max-width: 700px;
    }
    @include xl {
      max-width: 1000px;
    }
    @include xxl {
      max-width: 1200px;
    }
    @include xxxl {
      max-width: 1400px;
    }
    .pageTitle {
      font-family: "YanoneKaffeesatz";
      font-weight: 500;
      font-size: 30px;
      color: $light;
      width: 100%;
      text-align: center;
    }
    .form {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      .body {
        display: flex;
        column-gap: 15px;
        .eventInfo {
          display: flex;
          align-items: center;
          flex-direction: column;
          row-gap: 15px;
          width: 100%;
          .date,
          .place,
          .cast {
            width: 100%;
          }

          .bottom {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 15px;
            width: 100%;
            .tickets {
              flex: 1;
            }
            span {
              font-family: "YanoneKaffeesatz";
              font-weight: 500;
              font-size: 24px;
              color: $light;
              text-align: center;
              margin-top: 23px;
              @include xs {
                font-size: 14px;
                width: 40px;
              }
              @include sm {
                font-size: 14px;
                width: 40px;
              }
            }
            .checkBoxInput {
              -webkit-appearance: none;
              appearance: none;
              background-color: transparent;
              font: inherit;
              color: $white;
              background: $white;
              min-width: 40px;
              min-height: 40px;
              margin: 0;
              margin-top: 23px;
              border: 0.05em solid $white;
              border-radius: 0.15em;
              display: grid;
              place-content: center;
              transition: all 120ms ease-in-out;
              &::before {
                content: "";
                width: 0.95em;
                height: 0.95em;
                clip-path: polygon(
                  14% 44%,
                  0 65%,
                  50% 100%,
                  100% 16%,
                  80% 0%,
                  43% 62%
                );
                transform: scale(0);
                transform-origin: bottom left;
                transition: 120ms transform ease-in-out;
                box-shadow: inset 1em 1em $dark;
                /* Windows High Contrast Mode */
                background-color: CanvasText;
              }
              &:checked::before {
                transform: scale(1);
              }
              &:focus {
                outline: max(1px, 0.05em) solid $dark;
                outline-offset: max(2px, 0.15em);
              }
              &:disabled {
                color: rgb(196, 196, 196);
                cursor: not-allowed;
              }
            }
          }
        }
      }

      .submit {
        width: 100%;
        border: none;
        outline: none;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $light;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: all 0.33s cubic-bezier(0.215, 0.61, 0.355, 1);
        span {
          color: $dark;
          font-weight: 700;
          font-family: "YanoneKaffeesatz";
          text-transform: uppercase;
          font-size: 20px;
        }
        &:hover {
          cursor: pointer;
          background: $dark;
          border: 1px solid $light;
          transform: scale(1.01);
          span {
            color: $light;
          }
        }
        &:disabled {
          opacity: 0.1;
          cursor: not-allowed;
        }
        &:active {
          transform: scale(0.95);
        }
      }

      .serverError {
        color: $red;
        font-size: 20px;
        width: 100%;
        padding: 3px 6px;
        text-align: center;
        background: $light;
        border: 1px solid $red;
        border-radius: 3px;
      }
    }
  }
}
