@import "../../responsiveMixins.scss";

.homePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 35px;
  .wrapper {
    width: 100%;
    position: relative;
    @include xs {
      max-width: 260px;
    }
    @include sm {
      max-width: 320px;
    }
    @include smd {
      max-width: 480px;
    }
    @include md {
      max-width: 700px;
    }
    @include lg {
      max-width: 700px;
    }
    @include xl {
      max-width: 1000px;
    }
    @include xxl {
      max-width: 1200px;
    }
    @include xxxl {
      max-width: 1400px;
    }
  }
}
